<%- include("../../components/header.ejs") %>
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <h1>sub Category</h1>
            <button class="btn btn-primary">Add sub category</button>
        </div>

        

                            <table class="table table-bordered">
                                <thead>
                                    <th>#</th>
                                    <th>images</th>
                                    <th>Category</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>

                                        <tr>
                                            <td>1</td>
                                            <td>image</td>
                                            <td>title</td>
                                            <td>Action</td>
                                        </tr>
                                </tbody>
                            </table>

                    </div>
 <%- include("../../components/footer.ejs") %>